@{
    string cookieValue = Context.Request.Cookies["shopping_cart"] ?? "";
    int cartSize = 0;
    if (cookieValue.Length > 0)
    {
        cartSize = cookieValue.Split("-").Length;
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce .Net Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ecommerce_dotnet_webapp.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<script>
    function addToCart(button, bookId) {
        let oldCartValue = getCookieValue("shopping_cart");
        if (oldCartValue) oldCartValue += "-";
        let newCartValue = oldCartValue + bookId;

        let d = new Date();
        d.setDate(d.getDate() + 365);
        let expires = d.toUTCString();
        document.cookie = "shopping_cart=" + newCartValue + ";expires=" + expires + ";path=/";

        let cartItemsArray = newCartValue.split("-");
        let count = cartItemsArray.length;
        document.querySelector("#CartCountBadge").innerText = count;

        button.innerHTML = "Added <i class='bi bi-check-lg'></i>";
    }

    function getCookieValue(cookieName) {
        let cookiesArray = document.cookie.split(";");
        for (cookie of cookiesArray) {
            if (cookie.includes(cookieName)) {
                return cookie.split("=")[1];
            }
        }

        return "";
    }
</script>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <img src="/images/logo.png" height="60" alt="Logo" loading="lazy" />
                <a class="navbar-brand" asp-area="" asp-page="/Index">Ecommerce .Net</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Books">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>

                    @if (Context.Session.GetString("role") != null)
                    {


                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark me-3" asp-area="" asp-page="/Cart">
                                    <i class="bi bi-cart4 text-danger h3"></i>
                                    <span id="CartCountBadge" class="badge rounded-pill bg-danger"
                                        style="vertical-align: top;">@cartSize</span>
                                </a>
                            </li>
                        </ul>
                    }

                    <ul class="navbar-nav">
                        @if (Context.Session.GetString("role") == null)
                        {
                            <li class="nav-item">
                                <a class="btn btn-outline-primary me-2" asp-area="" asp-page="/Auth/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" asp-area="" asp-page="/Auth/Login">Login</a>
                            </li>
                        }
                        else if (Context.Session.GetString("role")!.Equals("admin"))
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                                    @Context.Session.GetString("firstname")
                                    @Context.Session.GetString("lastname")
                                    (Admin)
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-page="/Admin/Messages/Index" class="dropdown-item">Messages</a></li>
                                    <li><a asp-page="/Admin/Books/Index" class="dropdown-item">Books</a></li>
                                    <li><a asp-page="/Admin/Users/Index" class="dropdown-item">Users</a></li>
                                    <li><a asp-page="/Admin/Orders/Index" class="dropdown-item">Orders</a></li>
                                    <li><a asp-page="/Profile" class="dropdown-item">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a asp-page="/Auth/Logout" class="dropdown-item">LogOut</a></li>
                                </ul>
                            </li>
                        }
                        else if (Context.Session.GetString("role")!.Equals("client"))
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                                    @Context.Session.GetString("firstname")
                                    @Context.Session.GetString("lastname")
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                    <li><a asp-page="/Client/Orders/Index" class="dropdown-item">Orders</a></li>
                                    <li><a asp-page="/Profile" class="dropdown-item">Profile</a></li>
                                    <hr class="dropdown-divider" />
                            </li>
                            <li><a asp-page="/Auth/Logout" class="dropdown-item">LogOut</a></li>
                        </ul>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (ViewData["NoContainer"] != null)
    {
        @RenderBody()
    }
    else
    {

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ecommerce_dotnet_webapp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>