@page
@model IndexModel
@{
    ViewData["Title"] = "Orders List";
}

<h3 class="rounded p-2 my-2 text-white text-center" style="background-color: #08618d;">List of Orders</h3>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dimiss='alert' aria-label="Close"></button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Items</th>
            <th>Date</th>
            <th>Total</th>
            <th>Payment Method</th>
            <th>Payment Status</th>
            <th>Order Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var order in Model.orderInfoList)
        {
            int count = 0;
            decimal total = order.shippingFee;
            for (int i = 0; i < order.orderItemInfoList.Count; i++)
            {
                count += order.orderItemInfoList[i].quantity;
                total += order.orderItemInfoList[i].quantity * order.orderItemInfoList[i].unitPrice;
            }
            <tr>
                <td>@order.id</td>
                <td>@count</td>
                <td>@order.orderDate</td>
                <td>@(total)$</td>
                <td>@order.paymentMethod</td>

                @if (order.paymentStatus.Equals("accepted"))
                {
                    <td><span class="badge bg-success">@order.paymentStatus</span></td>
                }
                else if (order.paymentStatus.Equals("canceled"))
                {
                    <td><span class="badge bg-danger text-white">@order.paymentStatus</span></td>
                }
                else
                {
                    <td><span class="badge bg-warning text-dark">@order.paymentStatus</span></td>
                }

                @if (order.orderStatus.Equals("accepted") || order.orderStatus.Equals("shipped")
               || order.orderStatus.Equals("delivered"))
                {
                    <td><span class="badge bg-success">@order.orderStatus</span></td>
                }
                else if (order.orderStatus.Equals("canceled"))
                {
                    <td><span class="badge bg-danger text-white">@order.orderStatus</span></td>
                }
                else
                {
                    <td><span class="badge bg-warning text-dark">@order.orderStatus</span></td>
                }


                <td>
                    <a class="btn btn-primary btn-sm" href="/Admin/Orders/Details?id=@order.id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Model.totalPages; i++)
        {
            <li class="page-item"><a class="page-link" href="?page=@(i)">@i</a></li>
        }
    </ul>
</nav>
