@page
@model IndexModel
@{
}

<br />

<h2>Received Messages</h2>

@if (Model.ErrorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.ErrorMessage</strong>
        <button type="button" class="btn-close" data-bs-dimiss='alert' aria-label="Close"></button>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>E-mail</th>
            <th>Phone Number</th>
            <th>Subject</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listMessages)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Subject</td>
                <td>@item.CreatedAt</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Admin/Messages/Details?id=@item.Id">Details</a>
                    <a class="btn btn-danger btn-sm" href="/Admin/Messages/Delete?id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.page == 1 ? "disabled" : "")">
            <a class="page-link" asp-page="/Admin/Messages?page=" asp-route-currentPage="@(Model.page - 1)">Previous</a>
        </li>
        @for (int i = 1; i <= Model.totalPages; i++)
        {
            <li class="page-item @(i == Model.page ? "active" : "")">
                <a class="page-link" asp-page="/Admin/Messages?page=" asp-route-currentPage="@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.page == Model.totalPages ? "disabled" : "")">
            <a class="page-link" asp-page="/Admin/Messages?page=" asp-route-currentPage="@(Model.page + 1)">Next</a>
        </li>
    </ul>
</nav>