@page
@model IndexModel
@{
}

<h2 class="my-3">List of Books</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dimiss='alert' aria-label="Close"></button>
    </div>
}

<div class="row mb-3">
    <div class="col"><a href="/Admin/Books/Create" class="btn btn-primary">Create New Book</a></div>
    <div class="col">
        <form class="d-flex">
            <input type="search" class="from-control me-2" placeholder="Search by Title or Author" name="search"
                value="@Model.search" />
            <button type="Submit" class="btn btn-outline-success">Search</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="cursor: pointer;" onclick="sortTable('id')">ID</th>
            <th style="cursor: pointer;" onclick="sortTable('title')">Title</th>
            <th style=" cursor: pointer;" onclick="sortTable('authors')">Author</th>
            <th style=" cursor: pointer;" onclick="sortTable('num_pages')">Pages</th>
            <th style=" cursor: pointer;" onclick="sortTable('price')">Price</th>
            <th style=" cursor: pointer;" onclick="sortTable('category')">Category</th>
            <th>Image</th>
            <th style=" cursor: pointer;" onclick="sortTable('created_at')">Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.booksList)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Author</td>
                <td>@item.NumPages</td>
                <td>@item.Price $</td>
                <td>@item.Category</td>
                <td><img src=" /images/books/@item.ImageFileName" alt="Book Image" width="100">
                </td>
                <td>@item.CreatedAt</td>
                <td style="white-space:nowrap">
                    <a href="/Admin/Books/Edit?id=@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a href="/Admin/Books/Delete?id=@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav class="pagination">
    @for (int i = 1; i <= Model.totalPages; i++)
    {
        <li class="page-item"><a class="page-link"
                href="?page=@(i)&search=@(Model.search)&column=@(Model.column)&order=@(Model.order)">@i</a></li>
    }
</nav>

<script>
    function sortTable(column) {
        let order = "desc";
        let currentColumn = "@Model.column";
        let currentOrder = "@Model.order";

        if (column == currentColumn) {
            currentOrder == "asc" ? order = "desc" : order = "asc";
        }

        window.location.href = "?search=@Model.search&column=" + column + "&order=" + order;
    }
</script>